framework/node_modules
framework/public/hot
framework/public/storage
framework/storage/*.key
framework/auth.json
vendor
framework/.env
framework/auth.json
framework/.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker-compose.home.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
framework/.idea
framework/.vscode
framework/public
framework/webpack.mix.js
