.dublheader_electro{
     position: relative;
    background: url('../../assets/img/png/lincoln-electrical.png') center no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    padding-top: 1.75em;
    padding-bottom: 2.5em;
    width: 1565px;
height: 782px;
top: 0px;  
 }

   .dublheader_electro:after {       
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(14, 2, 27, 0.519);
z-index: 2;
}

.dublheader_electro_info{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 1112px;
    padding-top: 2.5em;
}
.dublheader_electro_infolist_foto{
     text-align: right;
}

.dublheader_electro_infolist{
    margin-top: 1.5rem;
    display: flex;
   
    p{
        .fonts(1em; 1.18rem; 700); 
        color: #FFFFFF;
       

    }
    .dublheader_electro_infolist_item {
        display: flex;
         margin-bottom: 1.5rem;
         align-items: center;
        p{
            .fonts(0.87; 1.06rem; 400); 
            color: #6F7185;
            padding-right: 0.62em;
            padding-left: 0.62em;
            

        }
    }

}
