[viewBag]
==
<?php
function onStart()
{
    use Symfony\Component\Yaml\Yaml;
    use Cms\Classes\Theme;
    $theme = Theme::getActiveTheme();
    $theme_path = $theme->getPath();

    $yamlMenu = Yaml::parse(file_get_contents($theme_path . '/content/menu.txt'));
    $menu = [];
    $this['yamlMenu']=$yamlMenu;
    YamlRouteList($yamlMenu, $menu);
    $this['menu'] = $menu;

    $yamlMenu = Yaml::parse(file_get_contents($theme_path . '/content/site-nav.txt'));
    $menu = [];
    $this['yamlMenu']=$yamlMenu;
    YamlRouteList($yamlMenu, $menu, [], 'Information');
    $site_nav = ['Information' => $menu];
    $menu = [];
    YamlRouteList($yamlMenu, $menu, [], 'Learning');
    $site_nav['Learning']=$menu;
    $this['site_nav_menu'] = $site_nav;

    $this->addCss([
        'assets/less/layout.less',
        ]);
}
?>
==
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ this.page.meta_title }}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Styles -->
    {% styles %}

    <!-- Scripts -->
    {% scripts %}
</head>

<body class="font-sans antialiased">
    {% partial "header" menu=menu %}
    {% page %}
    {% partial "footer" %}
</body>

</html>
