<section class="catalog_preview_education">   

  <div class="catalog_preview_education_content">

  <div class="catalog_preview_education_content_title">
    Обучение
   </div>

   <div class="catalog_preview_education_content_text">
    Курсы предназначены для подготовки руководителей, специалистов, ответственных за охрану труда и обеспечение безопасности на объекте, персонала иного профиля.
   </div>

   </div>
<div class="catalog_preview_education_wrapper">
  <div class="catalog_preview_education_back">
    <div class="catalog_preview_education_logo"> 
  
  </div>
    
  </div>
</div>
</section>