<section class="catalog_preview">   

  <div class="catalog_preview_content">

  <div class="catalog_preview_content_title">
    Каталог услуг
   </div>

   <div class="catalog_preview_content_text">
    Курсы предназначены для подготовки руководителей, специалистов, ответственных за охрану труда и обеспечение безопасности на объекте, персонала иного профиля.
   </div>

   </div>
<div class="catalog_preview_wrapper">
  <div class="catalog_preview_back">
    <div class="catalog_preview_logo"> 
  
  </div>
    
  </div>
</div>
</section>