<section class="cost_of_courses">   

  <h3> Стоимость курсов обучения по электробезопасности </h3>

  <div class="cost_of_courses_wrapper"> 
    <div class="cost_of_courses_titles"> 
      <div class="cost_of_courses_titles_name"> Программа обучения </div>
      <div class="cost_of_courses_titles_hours"> Кол-во часов </div>
      <div class="cost_of_courses_titles_price"> Стоимость за человека </div>

    </div>

    <div class="cost_of_courses_item"> 
      <div class="cost_of_courses_item_name"> Вторая группа допуска по электробезопасности до 1000В </div>
      <div class="cost_of_courses_item_hours"> от 8 до 72 часов </div>
      <div class="cost_of_courses_item_price"> 4500  ₽ </div>
      <div class="cost_of_curses_item_btn_wrapp"> <button> Записаться </button> </div>
    </div>

    <div class="cost_of_courses_item"> 
      <div class="cost_of_courses_item_name"> Третья группа допуска по электробезопасности до 1000В </div>
      <div class="cost_of_courses_item_hours"> от 8 до 36 часов </div>
      <div class="cost_of_courses_item_price"> 4500  ₽ </div>
      <div class="cost_of_curses_item_btn_wrapp"> <button> Записаться </button> </div>
    </div>

    <div class="cost_of_courses_item"> 
      <div class="cost_of_courses_item_name"> Четвертая группа допуска по электробезопасности до 1000В </div>
      <div class="cost_of_courses_item_hours"> от 8 до 36 часов </div>
      <div class="cost_of_courses_item_price"> 4500  ₽ </div>
      <div class="cost_of_curses_item_btn_wrapp"> <button> Записаться </button> </div>
    </div>

    <div class="electro_learning_btn_wrapper"> 
      <button> Открыть ещё <img src="/themes/9784023/assets/img/svg/logo_btn_arrow.svg"> </button> 
    </div>
  
  </div>

</section>