<section class="course_selection">   

  <h1> Быстрый подбор онлайн-курса </h1>

  <div class="course_selection_wrapper"> 

    <div class="course_selection_item back_ot">
      <div class="course_selection_item_title_wrap">
        <h3> Охрана труда </h3>
        <img src="/themes/9784023/assets/img/svg/course_selection_logo.svg" width="45px" height="63px">
      </div>
      <p> Обучение по охране труда для руководителей и специалистов </p>
      <button> Подробнее о курсе </button>
    </div>

    <div class="course_selection_item back_ptm">
      <div class="course_selection_item_title_wrap">
        <h3> Птм </h3>
        <img src="/themes/9784023/assets/img/svg/course_selection_logo2.svg" width="52px" height="61px">
      </div>
      <p> Обучение по пожарно-техническому минимуму </p>
      <button> Подробнее о курсе </button>
    </div>

    <div class="course_selection_item back_pteep">
      <div class="course_selection_item_title_wrap">
        <h3> Птээп </h3>
        <img src="/themes/9784023/assets/img/svg/course_selection_logo3.svg" width="64px" height="64px">
      </div>
      <p> Обучение по электробезопасносности, ПТЭЭП </p>
      <button> Подробнее о курсе </button>
    </div>

    <div class="course_selection_item back_dopog">
      <div class="course_selection_item_title_wrap">
        <h3> Допог </h3>
        <img src="/themes/9784023/assets/img/svg/course_selection_logo4.svg" width="60px" height="51px">
      </div>
      <p> Обучение водителей перевозке различных видов опасных грузов </p>
      <button> Подробнее о курсе </button>
    </div>

  </div>

</section>