<section class="course_catalog">   

  <h1> Каталог курсов </h1>

  <div class="course_catalog_wrapper"> 
  
    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo.svg" width="40px" height="59px">
      <p> Повышение квалификации руководителей и специалистов </p>
    </div>

    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo2.svg" width="59px" height="35px">
      <p> Санитарно гигиеническая безопасность </p>
    </div>

    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo3.svg" width="56px" height="56px">
      <p> Инструктор по оказанию первой помощи </p>
    </div>

    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo4.svg" width="42px" height="42px">
      <p> Профессиональная переподготовка </p>
    </div>

    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo5.svg" width="43px" height="49px">
      <p> Профессиональная подготовка рабочих </p>
    </div>

    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo6.svg" width="58px" height="58px">
      <p> День охраны труда </p>
    </div>

    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo7.svg" width="49px" height="42px">
      <p> Обучение БДД, ДОПОГ </p>
    </div>

    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo8.svg" width="43px" height="49px">
      <p> Повышения квалификации рабочих </p>
    </div>

    <div class="course_catalog_item"> 
      <img src="/themes/9784023/assets/img/svg/course_catalog_logo9.svg" width="55px" height="48px">
      <p> Обучение первой помощи </p>
    </div>
  
  
    <div class="course_catalog_item_wrapper_btn"> <button class="course_catalog_item_btn"> Загрузить ещё </button> </div>
  
  
  </div>


</section>