<section class="wrap" name="dublheader">   

   <div class="dubl_header">
      <div class="logo-gg">
            {% partial "logo" %} 
      </div>
      <div class="dubl_header_contacts">
            <a class="contacts_phone" href="tel:+74959784023">8 (495) 978 40 23</a> 
            <a class="contacts_phone" href="tel:+74955895208">8 (495) 589 52 08</a>
            <a class="contacts_mail" href="mailto:9784023@gmail.com">9784023@gmail.com</a>
      </div>      
   </div>
   {% partial "dublnav-menu" %}
   
</section>