<section class="electrical_safety_documentation">

<div class="electrical_safety_documentation_wrapper">

  <div class="electrical_safety_documentation_block_doc"> 
    <div class="electrical_safety_documentation_block_doc_title_wrapper"> 
      <div class="electrical_safety_documentation_block_doc_title"> 
        Документация 
      </div>
    </div>

    <div class="electrical_safety_documentation_block_doc_item">
      <p> Бланк заявки на бесплатный семинар по электробезопасности </p>
      <a href="#"> <img src="/themes/9784023/assets/img/svg/electrical_safety_doc_logo.svg"> </a>
    </div>

    <div class="electrical_safety_documentation_block_doc_item">
      <p> Бланк заявки на обучение по электробезопасности </p>
      <a href="#"> <img src="/themes/9784023/assets/img/svg/electrical_safety_doc_logo.svg"> </a>
    </div>

    <div class="electrical_safety_documentation_block_doc_item">
      <p> Договор на повышение квалификации по электробезопасности (Юр. лицо, 72 часа) </p>
      <a href="#"> <img src="/themes/9784023/assets/img/svg/electrical_safety_doc_logo.svg"> </a>
    </div>

    <div class="electrical_safety_documentation_block_doc_item">
      <p> Договор на повышение квалификации (Юр. лицо, 8 часов, дистанционное обучение) </p>
      <a href="#"> <img src="/themes/9784023/assets/img/svg/electrical_safety_doc_logo.svg"> </a>
    </div>

    <div class="electrical_safety_documentation_block_doc_item">
      <p> Договор на повышение квалификации (Юр. лицо, 36 часов, дистанционное обучение) </p>
      <a href="#"> <img src="/themes/9784023/assets/img/svg/electrical_safety_doc_logo.svg"> </a>
    </div>

    <div class="electrical_safety_documentation_block_doc_item">
      <p> Договор на повышение квалификации (Юр. лицо, 72 часа, дистанционное обучение) </p>
      <a href="#"> <img src="/themes/9784023/assets/img/svg/electrical_safety_doc_logo.svg"> </a>
    </div>
  
  </div>


  <div class="electrical_safety_documentation_additional_info"> 
 
    <div class="electrical_safety_documentation_additional_info_title_wrapper"> 
      <div class="electrical_safety_documentation_additional_info_title"> 
        Важно знать! 
      </div>
    </div>

    <p> Ответственным за электрохозяйство в организации может быть назначен работник, имеющий допуск по электробезопасности не ниже IV группы. Нарушение этого требования влечет за собой крупные штрафы. </p>

    <p> Целевая группа допуска зависит от категории персонала: </p>

    <p> I гр. – выдается сотрудникам, чья деятельность не сопряжена с непосредственным выполнением работ на электроустановках, но есть риск воздействия электротока при определенных обстоятельствах. II-IV гр. понадобится оперативно-ремонтным работникам, оперативным, административно-техническим специалистам, а также другим представителям электротехнического и электротехнологического персонала. </p>

    <p> Лица, поступающие на предприятие для осуществления работ непосредственно на электрическом оборудовании, обязаны пройти профподготовку. Программа курса и экзаменационные билеты разрабатываются в объеме должностных обязанностей. Подтверждением квалификации выступает удостоверение установленного образца с указанной группой допуска. </p>
  
  
  </div>

</div>

</section>