<section class="electrical_safety_plan">   

  <h3> Учебный план по обучению электробезопасности </h3>

  <div class="electrical_safety_plan_wrapper"> 
    <div class="electrical_safety_plan_titles"> 
      <div class="electical_safety_plan_titles_number"> № </div>
      <div class="electical_safety_plan_titles_name"> Наименование раздела </div>
      <div class="electical_safety_plan_titles_hours"> Кол-во часов Л/ПЗ </div>
    </div>

    <div class="electrical_safety_plan_item"> 
      <div class="electrical_safety_plan_item_number"> 1 </div>
      <div class="electrical_safety_plan_item_name"> Управление электрохозяйством. Подготовка персонала к эксплуатации электроустановок. Система управления электрохозяйством. </div>
      <div class="electrical_safety_plan_item_hours"> 4 </div>
    </div>

    <div class="electrical_safety_plan_item"> 
      <div class="electrical_safety_plan_item_number"> 2 </div>
      <div class="electrical_safety_plan_item_name"> Устройство электроустановок. Общие положения правил устройства электроустановок. Электрооборудование жилых и общественных зданий. Электрооборудование распределительных устройств подстанций и электрических сетей. Передвижные электроустановки. Электробезопасность при испытаниях оборудования с подачей повышенного напряжения от постороннего источника. </div>
      <div class="electrical_safety_plan_item_hours"> 6/2 </div>
    </div>

    <div class="electrical_safety_plan_item"> 
      <div class="electrical_safety_plan_item_number"> 3 </div>
      <div class="electrical_safety_plan_item_name"> Эксплуатация электроустановок потребителей. Техническая эксплуатация электроустановок. Допуск электроустановок в эксплуатацию, устранение аварий и отказов в работе электроустановок. </div>
      <div class="electrical_safety_plan_item_hours"> 6/2 </div>
    </div>

    <div class="electro_learning_btn_wrapper"> 
      <button> Открыть ещё <img src="/themes/9784023/assets/img/svg/logo_btn_arrow.svg"> </button> 
    </div>
  
  </div>

   

  <div class="electrical_safety_plan_info_block">

    <div class="electrical_safety_plan_info_block_item"> 
      <p> Кому нужно проходить обучение </p>
      <img src="/themes/9784023/assets/img/svg/logo_btn_arrow.svg">
    </div>

    <div class="electrical_safety_plan_info_block_item"> 
     <p> Электробезопасность следует посетить тем, кто </p>
      <img src="/themes/9784023/assets/img/svg/logo_btn_arrow.svg">
    </div>

    <div class="electrical_safety_plan_info_block_item"> 
      <p> Чему учат на курсах? </p>
      <img src="/themes/9784023/assets/img/svg/logo_btn_arrow.svg">
    </div>

    <div class="electrical_safety_plan_info_block_item"> 
      <p> Как записаться на обучение? </p>
      <img src="/themes/9784023/assets/img/svg/logo_btn_arrow.svg">
    </div>
  
  </div>

</section>