<section class="electrical_safety_webinars">

  <div class="electrical_safety_webinars_title_wrapper">
   <h3> Видеосеминары по электробезопасности </h3>

    <div class="electrical_safety_webinars_btn_wrapp"> 
      <a href="#"> 
        <button> <img src="/themes/9784023/assets/img/svg/electrical_safety_webinars_btn_logo.svg"> Подписаться на канал </button>
      </a> 
    </div>
  </div>

    <div class="electrical_safety_webinars_content_wrapper"> 
    
      <div class="electrical_safety_webinars_content_item"> 
        <video width="275px" height="275px" controls="controls"> 
          <source src="#">
        </video>
        <div class="electrical_safety_webinars_content_item_name"> 
          Состоялся обучающий семинар по электробезопасности, ПТЭЭП
        </div>
      </div>

      <div class="electrical_safety_webinars_content_item"> 
        <video width="275px" height="275px" controls="controls"> 
          <source src="#">
        </video>
        <div class="electrical_safety_webinars_content_item_name"> 
          Семинар по электробезопасности, ПТЭЭП
        </div>
      </div>

      <div class="electrical_safety_webinars_content_item"> 
        <video width="275px" height="275px" controls="controls"> 
          <source src="#">
        </video>
        <div class="electrical_safety_webinars_content_item_name"> 
          Обучающий семинар по электробезопасности
        </div>
      </div>

      <div class="electrical_safety_webinars_content_item"> 
        <video width="275px" height="275px" controls="controls"> 
          <source src="#">
        </video>
        <div class="electrical_safety_webinars_content_item_name"> 
          Обучающий семинар по электробезопасности
        </div>
      </div>
    
    </div>


</section>