<section class="feedback_form">   

  <div class="feedback_form_wrapper">

    <div class="feedback_form_logo_wrapper">
      <div class="feedback_form_back">
        <div class="feedback_form_logo"> </div>
        <div class="feedback_form_logo_head"> </div>
      </div>
    </div>
 

    <div class="feedback_form_app"> 
      <h1> Мы вам поможем! </h1>
      <p> Мы вам перезвоним и ответим на все вопросы о выборе курса, его стоимости и продолжительности обучения </p> 
      <input type="text" placeholder="Имя">
      <input type="text" placeholder="Телефон">
      <button> Оставить заявку </button>
    </div>
    
  </div>
  

</section>