<footer class="footer">
    <section class="footer-ribbon-top">
      <div class="footer-ribbon-top-wrap wrap padding-global">
          {% partial "contacts-big" %}
          {% partial "yandex-map" %}
      </div>
    </section>
    <section class="footer-ribbon-midle">
      <div class="footer-ribbon-midle-wrap wrap padding-global">
        <section class="column column-logo">
            {% partial "logo" %}
        </section>
        <section class="column">
          <h2>Информация</h2>
          {% partial "site-nav-menu" section=site_nav_menu['Information'] %}
        </section>
        <section class="column">
          <h2>Обучение</h2>
          {% partial "site-nav-menu" section=site_nav_menu['Learning'] %}
        </section>
      </div>
    </section>
    <section class="footer-ribbon-bottom">
      <div class="footer-ribbon-bottom-wrap wrap padding-global">
        <section class="column">
            {% partial "news-subscription" %}
        </section>
        <section class="column copyright">
          <h2>Учебный центр “Амулет” 2021</h2>
          <p>
            <a href="/Stub" class="gdpr_link"
              >Политика персональных данных
            </a>
          </p>
        </section>
        <section class="column">{% partial "social-media" %}</section>
      </div>
    </section>
  </footer>
