<footer class="footer">
    <section class="footer-ribbon-top">
      <div class="footer-ribbon-top-wrap wrap padding-global">
        <section class="contacts_big">
            {% partial "contacts-big" %}
        </section>
        <section class="ya_map">
            {% partial "yandex-map" %}
        </section>
      </div>
    </section><!--
    <section class="footer-ribbon-midle">
      <div class="footer-ribbon-midle-wrap wrap padding-global">
        <section class="column column-logo">
          <app-logo />
        </section>
        <section class="column">
          <h2>Информация</h2>
          <site-nav-menu section="Information" />
        </section>
        <section class="column">
          <h2>Обучение</h2>
          <site-nav-menu section="Learning" />
        </section>
      </div>
    </section>
    <section class="footer-ribbon-bottom">
      <div class="footer-ribbon-bottom-wrap wrap padding-global">
        <section class="column">
          <news-subscription />
        </section>
        <section class="column copyright">
          <h2>Учебный центр “Амулет” 2021</h2>
          <p>
            <Link :href="route('Stub')" class="gdpr_link"
              >Политика персональных данных
            </Link>
          </p>
        </section>
        <section class="column"><social-media /></section>
      </div>
    </section> -->
  </footer>
