<section class="high_altitude_work_preview">   

  <div class="high_altitude_work_preview_wrapper">
  
    <div class="high_altitude_work_preview_content"> 

      <h1> Обучение по охране труда </h1>
      <button> Подробнее о курсе </button>
    
    </div>

    <div class="high_altitude_work_preview_slider"> 
    
      <div class="high_altitude_work_preview_slider_wrapper">
        <div class="high_altitude_work_preview_slider_back">
          <div class="high_altitude_work_preview_slider_logo"> </div>
          <div class="high_altitude_work_preview_slider_logo_head"> </div>
        </div>
      </div>
    
    </div>
  
  
  
  </div>


</section>