<section class="how_to_get_training">   

  <h3> Как пройти обучение? </h3>

  <div class="how_to_get_training_steps"> 
    <div class="how_to_get_training_steps_item"> 
      <div class="how_to_get_training_steps_item_back">
        <img class="how_to_get_training_steps_item_first_logo" src="/themes/9784023/assets/img/svg/how_to_get_training_logo.svg">
      </div>
      <p> Скачайте и заполните заявку на нужную Вам программу </p>
    </div>

    <div class="how_to_get_training_steps_item"> 
       <img class="how_to_get_training_steps_item_arrow" src="/themes/9784023/assets/img/svg/how_to_get_training_arrow.svg" width="133px" height="16px">
    </div>

    <div class="how_to_get_training_steps_item"> 
      <div class="how_to_get_training_steps_item_back">
        <img class="how_to_get_training_steps_item_second_logo" src="/themes/9784023/assets/img/svg/how_to_get_training_cursor.svg">
        <div class="how_to_get_training_steps_item_btn"> Записаться </div>
      </div>
      <p> Нажмите кнопку "ЗАПИСАТЬСЯ" </p>
    </div>

    <div class="how_to_get_training_steps_item">
      <img class="how_to_get_training_steps_item_arrow" src="/themes/9784023/assets/img/svg/how_to_get_training_arrow.svg" width="133px" height="16px">
    </div>

    <div class="how_to_get_training_steps_item">
      <div class="how_to_get_training_steps_item_back">
          <img class="how_to_get_training_steps_item_third_logo" src="/themes/9784023/assets/img/svg/how_to_get_training_inputs.svg">
        </div>
        <p> Заполните все поля, нажмите кнопку отправить и ожидайте связи с менеджером.  </p> 
    </div>
  
  </div>

  <div class="hot_to_get_training_info_wrapper"> 
    <div class="how_to_get_training_info">
      Заранее можете прислать доп. информацию на почту 9784023@gmail.com. 
    </div>
  </div>

  <div class="how_to_get_training_calendar"> 
    <table class="how_to_get_training_calendar_table">
      <tr class="how_to_get_training_calendar_titles"> 
        <td> Дата </td>
        <td> Семинар </td>
        <td> Время </td>
        <td> Кабинет </td>
      </tr>

       <tr class="how_to_get_training_calendar_item"> 
        <td> 28.05.2022 </td>
        <td> Электробезопасность, ПТЭЭП (По набору группы) </td>
        <td> 10:00 </td>
        <td> № 23 </td>
        <td class="how_to_get_training_calendar_item_btn_wrapper"> 
          <button>
            <img src="/themes/9784023/assets/img/svg/how_to_get_training_logo.svg" width="25px" height="28px">
            Скачать заявку
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="how_to_get_training_attention"> 
    <div> Внимание! </div>
    <div> За отсутствие необходимого и своевременного обучения согласно ч. 3 ст. 5.27.1 КоАП установлен штраф для работодателей от 110 000 руб. до 130 000 руб. </div>
    <div> <a href="#"> Подробнее </a> </div>
  </div>



</section>