<section class="learning_center">   

  <div class="learning_center_content">
    <div class="learning_center_content_title"> Центр повышения квалификации </div>
    <div class="learning_center_content_text"> Учебный центр «Амулет» предлагает более 50 курсов повышения квалификации (профессиональной переподготовки) и обучения. Все программы соответствуют государственным стандартам. По итогам прохождения курсов и аттестации выдаются документы установленного образца. </div>
    <div class="learning_center_img_wrapper">

      <a href="#"> <button class="learning_center_img_btn"> Наши лицензии </button> </a>
      <a href="#" target="_blank"> <img src="themes/9784023/assets/img/png/learning_center_logo.png"> </a>
      <a href="#" target="_blank"> <img src="themes/9784023/assets/img/png/learning_center_logo2.png"> </a>
      <a href="#" target="_blank"> <img src="themes/9784023/assets/img/png/learning_center_logo3.png"> </a>

    </div>
  
  </div>


  
    <div class="learning_center_logo_wrapper">
      <div class="learning_center_logo_back">
        <div class="learning_center_logo"> </div>
        <div class="learning_center_logo_head"> </div>
    
      </div>

      <div class="learning_center_logo_text_wrapper">
        <div> более </div>
        <div> 50 </div>
        <div> курсов </div>
      </div>
    </div>
  

</section>