<section class="legal_support">   

    <div class="legal_support_logo_wrapper">
      <div class="legal_support_logo_back">
        <div class="legal_support_logo"> </div>
        <div class="legal_support_logo_head"> </div>
      </div>
    </div>

  <div class="legal_support_content"> 
    <div class="legal_support_content_item"> <h3> Юридическая консультация и поддержка </h3> </div>
    <div class="legal_support_content_item"> <p> Учебный центр “Амулет “предоставляет услуги юридической поддержки, связанных с охраной труда на предприятии. </p> </div>
    <div class="legal_support_content_item"> <p> Мы возьмем на себя оценку ваших задач для вашего предприятия. </p> </div>
    <div class="legal_support_content_item"> <button> Оставить заявку на консультацию </button> </div>
  
  </div>

</section>