<section class="wrap" name="licenses">
   <div class="licenses_block">
   
    <div><h3 class="licenses_title">Лицензии</h3></div>
     
    <div class="licenses_body">
       <a class="prev_next" onclick="plusSlides(-1)"><img  src="{{ 'assets/img/svg/vector-prev.svg'|theme }}" alt="" width="" height="" style=""></a>
     
          <a class="licenses_item" target="_blank" href="{{ 'assets/img/jpg/license.jpg'|theme }}">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="width:150px">
          </a>            
       
          <a class="licenses_item" target="_blank" href="{{ 'assets/img/jpg/license.jpg'|theme }}">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="width:150px">
          </a>
          <a class="licenses_item" target="_blank" href="{{ 'assets/img/jpg/license.jpg'|theme }}">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="width:150px">
          </a>    
          <a class="licenses_item" target="_blank" href="{{ 'assets/img/jpg/license.jpg'|theme }}">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="width:150px">
          </a>    
          <a class="licenses_item" target="_blank" href="{{ 'assets/img/jpg/license.jpg'|theme }}">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="width:150px">
          </a>                
             

        <a class="prev_next" onclick="plusSlides(1)"><img  src="{{ 'assets/img/svg/vector-next.svg'|theme }}" alt="" width="" height="" style=""></a>
    </div>

   </div> 

</section>