<section class="wrap" name="licenses">
   <div class="licenses_block">
   
    <div><h3 class="licenses_title">Лицензии</h3></div>
     
    <div class="licenses_body">
       <a class="prev" onclick="plusSlides(-1)"><img  src="{{ 'assets/img/svg/vector-prev.svg'|theme }}" alt="" width="" height="" style=""></a>
       <div class="mySlides">
          <div class="licenses_item">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="">
          </div>            
       </div>
       <div class="mySlides">
          <div class="licenses-img">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="">
          </div>            
       </div>
       <div class="mySlides">
          <div class="licenses-img">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="">
          </div>            
       </div>
       <div class="mySlides">
          <div class="licenses-img">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="">
          </div>            
       </div>
       <div class="mySlides">
          <div class="licenses-img">
             <img  src="{{ 'assets/img/jpg/license.jpg'|theme }}" alt="" width="" height="" style="">
          </div>            
       </div>

        <a class="next" onclick="plusSlides(1)"><img  src="{{ 'assets/img/svg/vector-next.svg'|theme }}" alt="" width="" height="" style=""></a>
    </div>

   </div>
    
  


</section>