<section class="news_blog">   

  <div class="news_blog_wrapper"> 
  
    <div class="news_blog_item"> 
      <div class="news_blog_item_img"> </div>

      <div class="news_blog_item_content_wrapper"> 
        <div class="news_blog_item_content_date"> 
          <img src="/themes/9784023/assets/img/svg/news_blog_logo.svg">
          20 октября 2020 
        </div>
        <h3 class="news_blog_item_content_title"> Роструд разъяснил руководителям ГИТ требования к внеочередной проверке знаний и внеплановому инструктажу после вступления в силу новых Правил по охране труда </h3>
        <p class="news_blog_item_content_text"> Роструд разъяснил руководителям ГИТ требования к внеочередной проверке знаний и внеплановому инструктажу после вступления в силу новых Правил по охране труда, а так же основание для отстранении от работы лиц, не прошедших в установленном порядке обучение безопасным методам и приемам выполнения работ, инструктаж по охране труда. стажировку на рабочих местах и проверку знания требований охраны труда </p>
        <button class="news_blog_item_content_btn">
          <span> Подробнее </span>
          <img src="/themes/9784023/assets/img/svg/news_blog_btn_logo.svg">
        </button>

      </div>
    </div>

    <div class="news_blog_item"> 
      <div class="news_blog_item_img"> </div>

      <div class="news_blog_item_content_wrapper"> 
        <div class="news_blog_item_content_date"> 
          <img src="/themes/9784023/assets/img/svg/news_blog_logo.svg">
          20 октября 2020 
        </div>
        <h3 class="news_blog_item_content_title"> Обучение ДОПОГ </h3>
        <p class="news_blog_item_content_text"> В ходе прохождения курса слушатели получили возможность: проводить оценку транспорта и сопутствующего ему оборудования на пригодность к перевозке опасных грузов, эффективно использовать средства индивидуальной защиты, минимизировать риски ДТП и их последствия, обучиться правилам перевозки опасных грузов и мерам предосторожности и т.д... </p>
        <button class="news_blog_item_content_btn"> 
          <span> Подробнее </span>
          <img src="/themes/9784023/assets/img/svg/news_blog_btn_logo.svg">
        </button>

      </div>
    </div>

    <div class="news_blog_item"> 
      <div class="news_blog_item_img"> </div>

      <div class="news_blog_item_content_wrapper"> 
        <div class="news_blog_item_content_date"> 
          <img src="/themes/9784023/assets/img/svg/news_blog_logo.svg">
          20 октября 2020 
        </div>
        <h3 class="news_blog_item_content_title"> Приказом Минэнерго России от 22.09.2020 N 796 утверждены Правила работы с персоналом в организациях электроэнергетики Российской Федерации </h3>
        <p class="news_blog_item_content_text"> Правилами установлены требования к подготовке работников, осуществляющих деятельность в сфере электроэнергетики, к работе на объектах электроэнергетики и энергопринимающих установках, включая проведение обязательных форм подготовки персонала, поддержание и повышение его квалификации. </p>
        <button class="news_blog_item_content_btn"> 
          <span> Подробнее </span>
          <img src="/themes/9784023/assets/img/svg/news_blog_btn_logo.svg">
        </button>

      </div>
    </div>

    <div class="news_blog_item"> 
      <div class="news_blog_item_img"> </div>

      <div class="news_blog_item_content_wrapper"> 
        <div class="news_blog_item_content_date"> 
          <img src="/themes/9784023/assets/img/svg/news_blog_logo.svg">
          20 октября 2020 
        </div>
        <h3 class="news_blog_item_content_title"> Минтруд разъясняет порядок проведения внеочередного обучения по по охране труда 2021. Письмо от 14.01.2021 № 15-2/10/В-167 </h3>
        <p class="news_blog_item_content_text"> Министерство труда и социальной защиты Российской Федерации в связи с вступлением в силу с 1 января 2021 г. новых правил по охране труда, устанавливающих государственные нормативные требования охраны труда при осуществлении трудовой деятельности по видам экономической деятельности и видам выполняемых работ, разработанных в рамках реализации механизма «регуляторной гильотины», разъясняет следующее. </p>
        <button class="news_blog_item_content_btn"> 
          <span> Подробнее </span>
          <img src="/themes/9784023/assets/img/svg/news_blog_btn_logo.svg">
        </button>

      </div>
    </div>

    <div class="news_blog_pagination"> 
      <a href="#"> Назад </a>
      <a href="#"> 1 </a>
      <a href="#"> 2 </a>
      <a href="#"> 3 </a>
      <a href="#"> Вперёд </a>
    </div>
  
  </div>

</section>