<section class="news_preview">   

  <div class="news_preview_content">

  <div class="news_preview_content_title">
    Каталог услуг
   </div>

   <div class="news_preview_content_text">
    Трудовые будни учебного центра «Амулет» всегда насыщены массой событий, разными по степени важности. На этой странице, мы предлагаем Вам ознакомиться с тематикой уже прошедших семинаров и событий, а так же, представляем Вашему вниманию анонсы событий, которые ещё только произойдут на территории нашего храма знаний.
   </div>

   </div>
<div class="news_preview_wrapper">
  <div class="news_preview_back">
    <div class="news_preview_logo"> 
    </div>
  </div>
</div>

</section>