<section class="outsourcing_security">   

  <div class="outsourcing_security_wrapper">

    <div class="outsourcing_security_content"> 
      <h3> Аутсорсинг охраны труда на предприятии</h3>
      <p> Очевидно, что в современных условиях нельзя обойтись без штатных специалистов в области охраны труда – один визит представителей Государственной инспекции труда может привести к составлению предписаний и, в худшем случае, выписке штрафа существенных размеров. И даже после посещения инспекции руководителю придется привлекать средства для организации работы по охране труда. Как соблюсти все требования к охране труда на предприятии и при этом избежать существенных затрат на создание специальной службы? Мы рады предложить вам современное решение проблемы – аутсорсинг охраны труда. </p>
      <div class="outsourcing_securiry_content_job_list"> 
        В рамках аутсорсинга по Охране труда проводятся следующие работы:
        <img src="/themes/9784023/assets/img/svg/logo_btn_arrow.svg">  
      </div>
    </div>

    <div class="outsourcing_security_advantages"> 
      <div class="outsourcing_security_advantages_item"> 
        <div> <img src="/themes/9784023/assets/img/svg/outsourcing_security_logo.svg"> </div>
        <p> Удобный и выгодный способ обеспечить предприятие соответствующей службой без больших денежных и трудовых затрат. </p>
      </div>
      <div class="outsourcing_security_advantages_item"> 
        <div> <img src="/themes/9784023/assets/img/svg/outsourcing_security_logo2.svg"> </div>
        <p> Вы привлекаете к организации работы по охране труда необходимое количество специалистов из нашей организации, имеющих профильное образование (Техносферная Безопасность) и высокую квалификацию. </p>
      </div>
      <div class="outsourcing_security_advantages_item"> 
        <div> <img src="/themes/9784023/assets/img/svg/outsourcing_security_logo3.svg"> </div>
        <p> Мы возьмем на себя задачи по соблюдению требований трудового законодательства в Вашей компании. </p>
      </div>
      <div class="outsourcing_security_advantages_item"> 
        <div> <img src="/themes/9784023/assets/img/svg/outsourcing_security_logo4.svg"> </div
        <p> Сотрудничество с нами не позволит Вам оказаться в неприятной ситуации в случае визита контролирующих органов. </p>
      </div>
    </div>
  </div>

   <div class="outsourcing_security_btn_about"> 
      <button> 
        Подробнее 
      </button> 
    </div>

</section>