<section class="reviews_from_people">

  <div class="reviews_from_people_wrapper"> 
  
    <h3 class="reviews_from_people_title"> Отзывы наших выпускников </h3>
  
    <div class="reviews_from_people_cards_wrapper"> 
    
      <div class="reviews_from_people_cards_item"> 
        <div class="reviews_from_people_cards_item_wrapp">
          <div class="reviews_from_people_cards_item_img"> <img src="/themes/9784023/assets/img/png/reviews_from_people_ava.png"> </div>
          <div class="reviews_from_people_cards_item_name">Высоцкий Александр</div>
        </div>
        <div class="reviews_from_people_cards_item_text"> Понравилось не только обучение: преподаватель, качество материала и проведение лекций, но и отзывчивость всего коллектива, без проблем можно было проконсультироваться по всем вопросам. </div>
      </div>
    
      <div class="reviews_from_people_cards_item">
      <div class="reviews_from_people_cards_item_wrapp">
        <div class="reviews_from_people_cards_item_img"> <img src="/themes/9784023/assets/img/png/reviews_from_people_ava2.png" width="75px" height="73px"> </div>
        <div class="reviews_from_people_cards_item_name"> Бондарев Дмитрий </div>
      </div>
        <div class="reviews_from_people_cards_item_text"> Обучение было информационным: много интересного и познавательного материала, который в дальнейшем пригодиться в работе. Замечательный учебный центр! Буду обращаться еще. </div>
      </div>

        <div class="reviews_from_people_cards_item">
        <div class="reviews_from_people_cards_item_wrapp">
          <div class="reviews_from_people_cards_item_img"> <img src="/themes/9784023/assets/img/png/reviews_from_people_ava3.png"> </div>
          <div class="reviews_from_people_cards_item_name"> Горбачев Евгений </div>
        </div>
        <div class="reviews_from_people_cards_item_text"> Было очень интересно и познавательно! Легкость подачи и восприятие учебного материала было на высоте. Актуальные темы, приведенные примеры из жизни, разные виды курсов очень заинтересовывают. </div>
      </div>

        <div class="reviews_from_people_cards_item">
        <div class="reviews_from_people_cards_item_wrapp">
          <div class="reviews_from_people_cards_item_img"> <img src="/themes/9784023/assets/img/png/reviews_from_people_ava4.png"> </div>
          <div class="reviews_from_people_cards_item_name"> Бойко Николай </div> 
        </div>
        <div class="reviews_from_people_cards_item_text"> Хотелось быть отметить предоставление возможности проведения практических занятий по курсам оказанию доврачебной помощи, безопасным методам и приемам выполнения работ на высоте.  </div>
      </div>
    
    </div>
  
  </div>

</section>