<section class="service_benefits">   

  <div class="service_benefits_content"> 
    <h1> Преимущества </h1>
    <p> учебного центра "Амулет" в Москве </p>
  </div>

  <div class="service_benefits_wrapper">

    <div class="service_benefits_item">
      <div class="service_benefits_item_back"> <img src="themes/9784023/assets/img/svg/service_benefits_logo.svg"> </div>
      <p> Квалифицированные специалисты с большим опытом практической и преподавательской работы </p>
    </div>

    <div class="service_benefits_item">
      <div class="service_benefits_item_back"> <img src="themes/9784023/assets/img/svg/service_benefits_logo2.svg"> </div>
      <p> Курсы с теоретическим блоком и практическими занятиями в соответствии с нормативами </p>
    </div>

    <div class="service_benefits_item">
      <div class="service_benefits_item_back"> <img src="themes/9784023/assets/img/svg/service_benefits_logo3.svg"> </div>
      <p> Учебный материал подается в простой, доступной форме </p>
    </div>

    <div class="service_benefits_item">
      <div class="service_benefits_item_back"> <img src="themes/9784023/assets/img/svg/service_benefits_logo4.svg"> </div>
      <p> Современные технологии дистанционного обучения </p>
    </div>

    <div class="service_benefits_item">
      <div class="service_benefits_item_back"> <img src="themes/9784023/assets/img/svg/service_benefits_logo5.svg"> </div>
      <p> Комфортные аудитория, с мультимедийным оборудованием </p>
    </div>

  </div>

</section>