<section class="service_cards">   

 <div class="service_cards_wrapper"> 
  
  <div class="service_cards_item">
    <img src="themes/9784023/assets/img/svg/service_cards_logo4.svg" width="97px" height="77px">
    <p> Обучение </p>
    <button> Подробнее </button> 
  </div>

  <div class="service_cards_item item_in_center">
    <img src="themes/9784023/assets/img/svg/service_cards_logo3.svg" width="88px" height="65px">
    <p>Аутсорсинг охраны труда на предприятии </p>
    <button> Подробнее </button> 
  </div>

  <div class="service_cards_item">
    <div>
      <img src="themes/9784023/assets/img/svg/service_cards_logo2.svg" width="39px" height="53px">
      <img src="themes/9784023/assets/img/svg/service_cards_logo.svg" width="53px" height="72px">
    </div>
    <p> Юридические услуги </p>
    <button> Подробнее </button> 
  </div>
 
 </div>

</section>